In [ ]:
#upload datasets from kaggle (https://www.kaggle.com/datasets/graysonhineline/epic-and-ikon-ski-resorts-data)
#import the necessary libraries
import pandas as pd
#turn the datasets into dataframes for manipulation
df1 = pd.read_csv('annualsnow.csv')
df2 = pd.read_csv('skiresorts.csv')
df3 = pd.read_csv('currentseason.csv')
print(df1)

In [ ]:
#summary statistics
df1.describe()

In [ ]:
#count the location of ikon and epic ski resorts
df1['Location'].value_counts(ascending=True)

In [ ]:
#exclude the locations that are outside of north america to avoid metric units
exclude = ("trentino", "northern-alps", "valais")
df4 = df1[~(df1["Location"].isin(exclude))]

In [ ]:
print(df4)

In [ ]:
#remove the brackets representing inches
df4 = df4.replace({'"':''}, regex=True)
print(df4)

In [ ]:
#order the number of snowfall days from least to greatest
df4.sort_values(by=['Snowfall Days'],ascending=[True],inplace=False)

In [ ]:
#convert the values of 'resort' to lowercase
df4['Resort'] = df4['Resort'].str.lower()

In [ ]:
#convert the values of 'pass' to lowercase
df4['Pass'] = df4['Pass'].str.lower()
print(df4)

In [ ]:
#convert range of years in year column to just opening year
df4['Year'] = df4['Year'].str[:4]
print(df4)

In [ ]:
#replace any null values with NaN
df4 = df4.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
#excluding the cities outside of north america for second dataframe
exclude = ("trentino", "northern-alps", "valais")
df5 = df2[~(df2["Location"].isin(exclude))]
print(df5)

In [ ]:
#remove the brackets and columns representing inches and feet
df5 = df5.replace({'"':''}, regex=True)
df5 = df5.replace({"'":""}, regex=True)
print(df5)

In [ ]:
#convert the values of 'resort' to lowercase
df5['Resort'] = df5['Resort'].str.lower()

In [ ]:
#convert the values of 'pass' to lowercase
df5['Pass'] = df5['Pass'].str.lower()
print(df5)

In [ ]:
#drop columns in the dataframe that have messy data that may impact analysis
df5.drop('Projected Opening', axis=1, inplace=True)
df5.drop('Projected Closing', axis=1, inplace=True)
df5.drop('Runs in Total', axis=1, inplace=True)
df5.drop('Snow Making', axis=1, inplace=True)
print(df5)

In [ ]:
#remove units ac and mi so the columns can be uploaded as numeric
df5['Skiable Terrain'] = df5['Skiable Terrain'].str.replace('ac','')
df5['Longest Run'] = df5['Longest Run'].str.replace('mi','')
df5['Night Skiing'] = df5['Night Skiing'].str.replace('ac','')
print(df5)

In [ ]:
#convert the percentage of runs into decimals which will be easier to visualize
df5['Beginners Runs'] = df5['Beginners Runs'].str.replace(r'%', r'.0').astype('float') / 100.0
df5['Intermediate Runs'] = df5['Intermediate Runs'].str.replace(r'%', r'.0').astype('float') / 100.0
df5['Advanced Runs'] = df5['Advanced Runs'].str.replace(r'%', r'.0').astype('float') / 100.0
df5['Expert Runs'] = df5['Expert Runs'].str.replace(r'%', r'.0').astype('float') / 100.0
print(df5)

In [ ]:
#replace all instances of N.A. with NaN
df5= df5.replace('N.A.', np.nan)

In [ ]:
#excluding the cities outside of north america for third dataframe
exclude = ("trentino", "northern-alps", "valais")
df6 = df3[~(df3["Location"].isin(exclude))]
print(df6)

In [ ]:
#remove the brackets representing inche
df6 = df6.replace({'"':''}, regex=True)
print(df6)

In [ ]:
#convert the values of 'resort' to lowercase
df6['Resort'] = df6['Resort'].str.lower()

In [ ]:
#convert the values of 'pass' to lowercase
df6['Pass'] = df6['Pass'].str.lower()
#convert the values of 'pass' to lowercase
df6['Month'] = df6['Month'].str.lower()

In [ ]:
#replace all instances of N.A. with NaN
df6= df6.replace('N.A.', np.nan)
print(df6)

In [ ]:
#export the dataframes to csv files without indeces
df4.to_csv('new_annualsnow.csv', index=False)
df5.to_csv('new_skiresorts.csv', index=False)
df6.to_csv('new_currentseason.csv', index=False)